.Parent{
  height: 85vh ;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content{
  height: 50vh;
  width: 50vh;
  background-color: blue;
  border: none;
  border-radius: 10px;
}
.heading{
  padding: 5vh;
  margin-left: 4.5vw ;
}
.qoutes{
  padding: 8vh;
  font-family: sans-serif;
}
.next{
  padding: 2vh;
  width: 7vw;
  border: none;
   border-radius: 20%;
   margin-left: 9vw;
   position: fixed;
   background-color: red;
}
.next:hover{
  cursor: pointer;
  background-color: green;
}